<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610194812222-s21a7vneepinvdg1g7de16f3rktefclb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610194812222-s21a7vneepinvdg1g7de16f3rktefclb</string>
	<key>API_KEY</key>
	<string>AIzaSyAVbNaXJ10LQuwkhMpC2Vkf_3oNKw3GO_M</string>
	<key>GCM_SENDER_ID</key>
	<string>610194812222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iremt.BasicInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-a18ae</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-a18ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610194812222:ios:f8f9a5626f02ac4fb2d06f</string>
</dict>
</plist>